body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./asset/bgd4.jpg);
    background-size: cover;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 30px;
    padding-left: 10px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_container img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
